extends ../../layout.pug

append head
  title The Ethics & Principles of Abram

  meta(name='title' content='The Ethics & Principles of Abram')
  meta(name='description' content='Coming Soon')

  meta(property='og:type' content='website')
  meta(property='og:title' content='The Ethics & Principles of Abram')
  meta(property='og:description' content='Coming Soon')
  meta(property='og:image' content='https://herpproject.com/assets/card-abram.png')

  link(rel='stylesheet' href='../../styles/body.css')
  link(rel='stylesheet' href='../../styles/icons.css')

append content
  .content.container
    h1 The Ethics, Rules & Principles of Abram
    p Effective Date:
      strong
        i  This is still being drafted.
    br
    p We at Herp Project target a very high standard for Abram.
    p We want everyone using Abram to feel/be safe while talking to other people.
    p And because of that, we have very strict principles and rules.

    br
    h2 Matches

    h4
      i The following is to make sure that every user gets a fair chance at a conversion.

    p No one using Abram gets to pick who they talk to and who they dismiss,
      |  Users get matched automatically based on their interests and profile.

    p However, there are some limited matching preferences that each user can set to make sure they would never be matched with specific people.

    p For example, A user might prefer to only get matched with groups of 3 people instead of getting one-on-one matches.

    br
    h2 Blocking and Reporting

    h4
      i The following is to make sure that every user feels safe while using Abram.

    p While it is true that users can't dismiss their matches,
    p They get an option to block them after a short while of talking to them,
    p Or even report them, in that case, a short decrypted chat log will be sent temporally to our Moderation team for review, If the report is proven valid, their account will get terminated without prior notice.

    p Account Terminations occur in cases of Sexism, Racism, Sadism, Offensive, Harassment, or any other Discrimination of any kind.

    br
    p For more information about Decrypted Chat Logs, please read our 
      a(href='/abram/privacy') Privacy Policy.

    p For more information about Account Termination, please read our 
      a(href='/abram/terms') Terms of Service.

    br
    h2 Dating

    h4
      i The following is to make sure that every user feels safe while using Abram.

    p Abram is not a dating app (dating will never be something we focus on, or market about),
    p That said, we're, of course not against dating (we believe that love conquers all),

    p However, some users might prefer it if people don't flirt with them,
    p there's a mandatory status in every user's profile called "Romantically",
    p If any user admits flirting with someone that had that status not set to "Open" at the time,
    p and they get reported, their account will be terminated without any prior notice.

    br
    p For more information about Account Termination, please read our 
      a(href='/abram/terms') Terms of Service.

    br
    h2 Moderation

    p Abram is entirely moderate by real people, all of them are full-time employees,

    p And all of them undergo monthly psychological evaluations.

    br
    h2 Profile Pictures

    h4
      i The following is to make sure that every user gets a fair chance at a conversion.

    p Allowing people to set their pictures would cause some issues.
    p Like people choosing pictures of irrelevant things or users being insecure about how their own pictures,
    p But the most important issue for us was people judging other people based on how they look,
    p According to our research that happens a lot, sometimes even subconsciously,
    p And that's something we want to avoid at all costs, that's why we only have an avatar system.

    p While some of the customizations are currently limited, we're always working to be more diverse and support more cultures and styles.

    br
    h2 Chatting

    h4
      i The following is to make sure that every user feels safe while using Abram.

    p Abram does not automatically block inappropriate words because that would prompt users to use different iterations of said words.

    p Instead, users are encouraged to block words they don't like while signing up, making the process a bit more unpredictable.

    p Please note that the usage of inappropriate words does not go against our 
      a(href='/abram/terms') Terms of Service.

    br
    strong In Addition to that, we enforce the following:
    p Users cannot send each other Links/URLs.
    p Users cannot send each other Images, Videos, or any other type of media.
    p Users cannot send each other Emojis.

    br
    h2 Saintship Program

    p To be announced a few months after the app launches.

    br
    h2 Monetization

    p Abram, like any other app, needs to be profitable to stay alive.

    p But none of the ways we monetize will affect matching, chatting, or complicate the user experience in any way.
