
.timeline
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.timelineItemIcon,
.timelineItemText
{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.separator
{
  position: relative;

  background-color: var(--accent);

  width: 5px;
  height: auto;

  padding: 10px 0;
}

.timelineItemTitle,
.timelineItemDescription
{
  position: relative;

  font-size: calc(9px + 0.5vw + 0.5vh);

  left: 24px;
  width: calc(50vw - 10px);
  height: max-content;
}

.timelineItemTitle
{
  font-weight: 700;
}
