extends ../layout.pug

append head
  title Dawayer by Herp Project

  meta(name='title' content='Dawayer by Herp Project')
  meta(name='description' content='An audio player built with web technologies.')

  meta(property='og:type' content='website')
  meta(property='og:title' content='Dawayer by Herp Project')
  meta(property='og:description' content='An audio player built with web technologies.')
  meta(property='og:image' content='https://herpproject.com/assets/card.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

append content
  script.
    document.addEventListener('keyup', onkeyup)

    function onkeyup(e)
    {
      if (e.code === 'Escape')
        closeScreenshot();
    }

    function openScreenshot(url)
    {
      const wrapper = document.querySelector('.screenshot.wrapper');
      const container = document.querySelector('.screenshot.container');

      container.children[0].src = url;

      if (!wrapper.classList.contains('active'))
        requestAnimationFrame(() => wrapper.classList.add('active'));
    }

    function closeScreenshot()
    {
      const wrapper = document.querySelector('.screenshot.wrapper');
      const container = document.querySelector('.screenshot.container');

      if (wrapper.classList.contains('active'))
        wrapper.classList.remove('active');

      requestAnimationFrame(() => container.children[0].src = '');
    }

  .screenshot.wrapper(onclick='closeScreenshot()')
    .screenshot.container
      img(alt='Screenshot')

  .projects.container
    .project.container
      .project.circle
        +icon('dawayer')
      .project.card
        p Dawayer
        .project.tags #Electron #Open Source
      .project.info
        p First released on March, 2019.
        p Discontinued on July, 2019.
        br
        p Dawayer is an audio player built with web technologies it lets you play local files, download and stream podcasts, stream music from a streaming service, Dawayer also has a feed page that gives you personalized playlists, statistics about your listening habits and notifies you when your favorite artist published a new track or a new podcast episode.

        .project.links
          a.project.link(href='https://github.com/hpj/Dawayer')
            +icon('github')
            p GitHub

        hr

        .project.screenshots
          .project.screenshot(onclick='openScreenshot(\'/assets/screenshots/dawayer-1.png\')')
            img(src='/assets/screenshots/dawayer-1.png' alt='Dawayer Tracks Menu')

          .project.screenshot(onclick='openScreenshot(\'/assets/screenshots/dawayer-2.png\')')
            img(src='/assets/screenshots/dawayer-2.png' alt='Dawayer Artists Menu')

          .project.screenshot(onclick='openScreenshot(\'/assets/screenshots/dawayer-3.png\')')
            img(src='/assets/screenshots/dawayer-3.png' alt='Dawayer Now Playing')

        hr
        br
        p
          | The app is named after
          a(href='http://www.google.com/search?q=%22Dina+El+Wedidi+-+Dawayer%22')  Dina El Wedidi's Dawayer
          | .
