extends ../layout.pug

append head
  title Dawayer by Herp Project

  meta(name='title' content='Dawayer by Herp Project')
  meta(name='description' content='An audio player built with web technologies.')

  meta(property='og:type' content='website')
  meta(property='og:title' content='Dawayer by Herp Project')
  meta(property='og:description' content='An audio player built with web technologies.')
  meta(property='og:image' content='https://herpproject.com/assets/card.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

mixin screenshots(name)
  div(class=name id='tracks' onclick='openScreenshot(this)')
    img(src='/assets/screenshots/dawayer-1.png' alt='Dawayer Tracks Menu')

  div(class=name id='artists' onclick='openScreenshot(this)')
    img(src='/assets/screenshots/dawayer-2.png' alt='Dawayer Artists Menu')

  div(class=name id='playing' onclick='openScreenshot(this)')
    img(src='/assets/screenshots/dawayer-3.png' alt='Dawayer Now Playing')

append content
  script.
    document.addEventListener('keyup', function(e)
    {
      if (e.code === 'Escape')
        closeScreenshot();
    })

    function openScreenshot(e)
    {
      const elem = document.querySelector('.screenshot.wrapper');

      if (!elem.classList.contains('active'))
      {
        location.hash = '#' + e.id;
        elem.classList.add('active');
      }
    }

    function closeScreenshot()
    {
      const elem = document.querySelector('.screenshot.wrapper');

      if (elem.classList.contains('active'))
        elem.classList.remove('active');
    }

  .screenshot.wrapper(onclick='closeScreenshot()')
    .screenshot.container
      +screenshots

  .projects.container
    .project.container
      .project.circle
        +icon('dawayer')
      .project.card
        p Dawayer
        .project.tags #Electron #Open Source
      .project.info
        p Released on March, 2019.
        p Discontinued on July, 2019.
        br
        p Dawayer was an audio player built with web technologies it lets you play local files, and stream podcasts.

        .project.links
          a.project.link(href='https://github.com/hpj/Dawayer')
            +icon('github')
            p GitHub

        hr

        .project.screenshots
          +screenshots('project screenshot')

        hr
        br
        p
          | The app is named after
          a(href='http://www.google.com/search?q=%22Dina+El+Wedidi+-+Dawayer%22')  Dina El Wedidi's Dawayer
          | .
