extends ../layout.pug

append head
  title Abram by Herp Project

  meta(name='title' content='Abram by Herp Project')
  meta(name='description' content='An app about friendships.')

  meta(property='og:type' content='website')
  meta(property='og:title' content='Abram by Herp Project')
  meta(property='og:description' content='Love, Friendship, and everything sweet.')
  meta(property='og:image' content='https://herpproject.com/assets/card-abram.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

append content
  script.
    document.addEventListener('keyup', onkeyup)

    function onkeyup(e)
    {
      if (e.code === 'Escape')
        closeScreenshot();
    }

    function openScreenshot(url)
    {
      const wrapper = document.querySelector('.screenshot.wrapper');
      const container = document.querySelector('.screenshot.container');

      container.children[0].src = url;

      if (!wrapper.classList.contains('active'))
        requestAnimationFrame(() => wrapper.classList.add('active'));
    }

    function closeScreenshot()
    {
      const wrapper = document.querySelector('.screenshot.wrapper');
      const container = document.querySelector('.screenshot.container');

      if (wrapper.classList.contains('active'))
        wrapper.classList.remove('active');

      setTimeout(() => container.children[0].src = '', 250);
    }

  .screenshot.wrapper(onclick='closeScreenshot()')
    .screenshot.container
      img(alt='Screenshot')

  .projects.container
    .project.container
      .project.circle
        +icon('abram')
      .project.card
        p Abram
        .project.tags #React Native #Serverless #GraphQL #Jest
      .project.notice
        p Coming Soon.
      .project.info
        p In development since February, 2020.
        br
        p An app where you get matched with strangers with similar interests to you.
        br
        p We want everyone using Abram to feel(and be) safe while talking to other people,
        p Our goal is to help cure loneliness and remove it from being one of the causes of depression.
        br
        p The app uses a lot of different techniques to encourage users to talk to each other.
        br
        p And we have very strict rules & guidelines that range from Profile Pictures to Using Emojis.
        .project.links
          a.project.link(href='https://www.facebook.com/UseAbram')
            +icon('facebook')

          a.project.link(href='/abram/ethics')
            p Ethics & Principles

        hr

        .project.screenshots
          .project.screenshot(onclick='openScreenshot(\'/assets/screenshots/abram-1.jpg\')')
            img(src='/assets/screenshots/abram-1.jpg' alt='Abram Inbox')

          .project.screenshot(onclick='openScreenshot(\'/assets/screenshots/abram-2.jpg\')')
            img(src='/assets/screenshots/abram-2.jpg' alt='Abram Chat')

          .project.screenshot(onclick='openScreenshot(\'/assets/screenshots/abram-3.jpg\')')
            img(src='/assets/screenshots/abram-3.jpg' alt='Abram Profile')

        hr
        br
        p
          | Abram will rollout on a country-to-country basis, the current schedule is the United States in 2021. Japan, the United Kingdom, Austria, Brazil, Spain, Portugal, and Mexico in Q1 2022. France, Italy, and Germany in Q3 2022. The rest of Europe and South America by Q2 2023.
          | We have no plans to roll out in Africa, or the rest of Asia, or Russia.
        br
        p
          | This project is referred to internally as "Ibrahim". it's the second app to had been named after a Prophet in Islam.
