extends ../layout.pug

append head
  title Abram by Herp Project

  meta(name='title' content='Abram by Herp Project')
  meta(name='description' content='An app about friendships.')

  meta(property='og:type' content='website')
  meta(property='og:title' content='Abram by Herp Project')
  meta(property='og:description' content='Love, Friendship, and everything sweet.')
  meta(property='og:image' content='https://herpproject.com/assets/card-abram.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

mixin screenshots(name)
  div(class=name id='inbox' onclick='openScreenshot(this)')
    img(src='/assets/screenshots/abram-1.jpg' alt='Abram Inbox')

  div(class=name id='chat' onclick='openScreenshot(this)')
    img(src='/assets/screenshots/abram-2.jpg' alt='Abram Chat')

  div(class=name id='profile' onclick='openScreenshot(this)')
    img(src='/assets/screenshots/abram-3.jpg' alt='Abram Profile')

append content
  script.
     document.addEventListener('keyup', function(e)
    {
      if (e.code === 'Escape')
        closeScreenshot();
    })

    function openScreenshot(e)
    {
      const elem = document.querySelector('.screenshot.wrapper');

      if (!elem.classList.contains('active'))
      {
        location.hash = '#' + e.id;
        elem.classList.add('active');
      }
    }

    function closeScreenshot()
    {
      const elem = document.querySelector('.screenshot.wrapper');

      if (elem.classList.contains('active'))
        elem.classList.remove('active');
    }

  .screenshot.wrapper(onclick='closeScreenshot()')
    .screenshot.container
      +screenshots

  .projects.container
    .project.container
      .project.circle
        +icon('abram')
      .project.card
        p Abram
        .project.tags #React Native #Serverless #AWS LAMBDA #GraphQL #Jest
      .project.notice
        .project.badges
          img(src='https://codecov.io/gh/hpj/Abram/branch/development/graph/badge.svg?token=J6HRUQ2VTR' alt='Frontend Code Coverage' title='Frontend Coverage')
        p Coming Soon.
        br
        p Our team is focused on Airtegal making Abram's development much slower.
      .project.info
        p In development since February, 2020.
        br
        p Love, Friendship, and everything sweet.
        br
        p Abram is an app where you get matched with strangers with similar interests to you.
        br
        p We want everyone using Abram to feel(and be) safe while talking to other people, 
          | Our goal is to help cure loneliness and remove it from being one of the causes of depression.
        br
        p The app uses a lot of different techniques to encourage users to talk to each other.
        br
        p We have very strict rules & guidelines that range from Profile Pictures to Using Emojis.
        .project.links
          a.project.link(href='https://www.facebook.com/UseAbram')
            +icon('facebook')

          a.project.link(href='/abram/ethics')
            p Ethics & Principles

        hr

        .project.screenshots
          +screenshots('project screenshot')

        hr
        br
        p
          | Abram will rollout on a country-to-country basis, the current schedule is the United States Q1 2022. Japan, the United Kingdom, Austria, Brazil, Spain, Portugal, and Mexico in Q2 2022. France, Italy, and Germany in Q3 2022. The rest of Europe and South America by Q2 2023.
          | We have no plans to roll out in Africa, or the rest of Asia, or Russia.
        br
        p
          | This project is referred to internally as "Ibrahim". it's the second app to had been named after a Prophet in Islam.
