extends ../layout.pug

append head
  title Abram by Herp Project

  meta(name='title' content='Abram by Herp Project')
  meta(name='description' content='Love, Friendship, and everything sweet.')

  meta(property='og:type' content='website')
  meta(property='og:title' content='Abram by Herp Project')
  meta(property='og:description' content='Love, Friendship, and everything sweet.')
  meta(property='og:image' content='https://herpproject.com/assets/card-abram.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

//- mixin screenshots(name)
//-   div(class=name id='inbox' onclick='openScreenshot(this)')
//-     img(src='/assets/screenshots/abram-1.jpg' alt='Abram Inbox')

//-   div(class=name id='chat' onclick='openScreenshot(this)')
//-     img(src='/assets/screenshots/abram-2.jpg' alt='Abram Chat')

//-   div(class=name id='profile' onclick='openScreenshot(this)')
//-     img(src='/assets/screenshots/abram-3.jpg' alt='Abram Profile')

append content
  //- script.
  //-    document.addEventListener('keyup', function(e)
  //-   {
  //-     if (e.code === 'Escape')
  //-       closeScreenshot();
  //-   })

  //-   function openScreenshot(e)
  //-   {
  //-     const elem = document.querySelector('.screenshot.wrapper');

  //-     if (!elem.classList.contains('active'))
  //-     {
  //-       location.hash = '#' + e.id;
  //-       elem.classList.add('active');
  //-     }
  //-   }

  //-   function closeScreenshot()
  //-   {
  //-     const elem = document.querySelector('.screenshot.wrapper');

  //-     if (elem.classList.contains('active'))
  //-       elem.classList.remove('active');
  //-   }

  //- .screenshot.wrapper(onclick='closeScreenshot()')
    //- .screenshot.container
    //-   +screenshots

  .projects.container
    .project.container
      .project.circle
        +icon('abram')
      .project.card
        p Abram
        .project.tags #React Native #Serverless #AWS LAMBDA #Jest
      .project.notice
        .project.badges
          img(src='https://codecov.io/gh/hpj/Abram/branch/development/graph/badge.svg?token=J6HRUQ2VTR' alt='Frontend Code Coverage' title='Frontend Coverage')
        p Coming Soon
      .project.info
        p In development since February, 2020.
        br
        p Love, Friendship, and everything sweet.
        br
        p Abram is a messaging application focussed on offering the best possible user experience without any pollution.
        .project.links
          a.project.link(href='https://www.facebook.com/UseAbram')
            +icon('facebook')

        //- hr
        //- .project.screenshots
        //-   +screenshots('project screenshot')

        hr
        br
        p
          | This project is referred to internally as "Ibrahim". it's the second app to had been named after a Prophet in Islam.
        br
        p
          | The app goes through LOTS of pauses in its development with it being worked on for a few days each 8 months or so because
          | its not our most important project right now.
