.about.container
{
  display: flex;
  justify-content: center;

  max-width: 700px;
  margin: auto;
}

.about.text
{
  color: var(--foreground);
  
  font-size: calc(6px + 0.5vw + 0.5vh);
  
  margin: 2vh 2vw 0 2vw;
}

.about.text > p
{
  margin: 8px 0;
}
