.about.container
{
  display: flex;
  justify-content: center;

  color: var(--foreground);

  max-width: 600px;

  padding: 0 5vw;
  margin: 4vh auto;
}

.about.text
{  
  width: 100%;
  
  font-size: calc(6px + 0.5vw + 0.5vh);
}

.about.text.ar
{
  direction: rtl;
}

.about.text > p
{
  margin: 8px 0;
}
