@import url('https://fonts.googleapis.com/css?family=Raleway:500,700');

body
{
  background-color: #ffffff;

  width: 100vw;
  height: 100vh;

  font-family: 'Raleway', sans-serif;

  overflow: hidden;
  margin: 0;
}

.header
{
  color: #434343;
  margin: 0 0 10px 0;
}

p.hpj
{
  flex-grow: 1;
  display: flex;

  align-items: center;

  font-weight: 700;
  font-size: calc(12px + 2vw + 2vh);

  margin: 2vw 0 0 4vw;
  word-spacing: 100vw;
}

.links
{
  display: flex;
  margin-left: 4vw;
}

.links > *
{
  width: calc(11px + 1vw);
  height: calc(11px + 1vw);;

  margin: 6px;
}

.timeline
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  height: auto;

  margin: 10px 0 0 0;
}

.separator
{
  flex-basis: 100%;

  display: flex;
  position: relative;
  justify-content: center;

  top: -1px;
  height: auto;
}

.separator::after
{
  display: block;
  content: "";

  width: 5px;
  height: 50px;

  background-color: #434343;
}

.circle
{
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;

  top: -1px;
  width: 60px;
  height: 60px;

  box-sizing: border-box;

  border: #434343 5px solid;
  border-radius: 50%;
}

.circle > .icon
{
  width: 60%;
  height: 60%;
}

.circleDescription
{
  position: absolute;

  top: 0;
  left: 100%;
  width: max-content;
  height: auto;

  margin: 0 0 0 20px;
}

.circleDescription.left
{
  left: -100%;
}

.circleDescription > p
{
  margin: auto;
}