@import url('https://fonts.googleapis.com/css?family=Raleway:500,700');

body
{
  background-color: #ffffff;
  
  width: 100vw;
  height: 100vh;

  font-family: 'Raleway', sans-serif;

  overflow-x: hidden;
  overflow-y: overlay;

  margin: 0;
}

.header
{
  color: #434343;
  margin: 2vh 0 2vh 2vw;
}

p.hpj
{
  word-spacing: 100vw;

  width: min-content;

  font-weight: 700;
  font-size: calc(12px + 2vw + 2vh);
  
  margin: 0;
}

.links
{
  display: flex;
  margin: 2vh 0 2vh 2vw;
}

.links > *
{
  min-width: 12px;
  max-width: 16px;
  min-height: 12px;
  max-height: 16px;

  width: 3vw;
  height: 3vw;

  margin: 0 6px;
}

.timeline
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.timelineItemIcon,
.timelineItemText
{
  flex-basis: 100%;
  display: flex;
  justify-content: center;
}

.circle,
.box
{
  display: flex;

  justify-content: center;
  align-items: center;

  min-width: 46px;
  max-width: 54px;
  min-height: 46px;
  max-height: 54px;

  width: calc(5vw + 3vh);
  height: calc(5vw + 3vh);

  box-sizing: border-box;

  border: #434343 5px solid;
}

.circle
{
  border-radius: 50%;
}

.icon
{
  width: 100%;
  height: 100%;
}

a
{
  width: 100%;
  height: 100%;
}

.circle > a,
.box > a,
.circle > .icon,
.box > .icon
{
  width: 60%;
  height: 60%;
}

.separator
{
  position: relative;

  background-color: #434343;

  width: 5px;
  height: auto;

  padding: 10px 0;
}

.timelineItemTitle,
.timelineItemDescription
{
  position: relative;

  font-size: calc(9px + 0.5vw + 0.5vh);

  left: 24px;
  width: calc(50vw - 10px);
  height: max-content;
}

.timelineItemTitle
{
  font-weight: 700;
}
