@import url('https://fonts.googleapis.com/css?family=Raleway:500,700');

html
{
  --accent: #434343;
  --foreground: #000000;
  --background: white;
}

body
{
  background-color: var(--background);
  
  width: 100vw;
  height: 100vh;

  font-family: 'Raleway', sans-serif;

  overflow-x: hidden;
  overflow-y: overlay;

  margin: 0;
}

.header.container
{
  display: flex;
  align-items: center;

  margin: 2vh 0 2vh 2vw;
}

.header.title
{
  word-spacing: 100vw;

  width: min-content;

  color: var(--accent);

  font-weight: 700;
  font-size: calc(12px + 2vw + 2vh);
  
  margin: 0 30px 0 0;
}

.header.item
{
  font-weight: 700;

  cursor: pointer;
  color: var(--accent);

  text-decoration: none;
  font-size: calc(11px + 0.6vw + 0.6vh);

  margin: 0 10px;
}

.header.item:hover
{
  text-decoration: underline;
}

.links.container
{
  display: flex;
  margin: 2vh 0 2vh 2vw;
}

.links.container > *
{
  min-width: 12px;
  max-width: 16px;
  min-height: 12px;
  max-height: 16px;

  width: 3vw;
  height: 3vw;

  margin: 0 6px;
}

.circle,
.box
{
  display: flex;

  justify-content: center;
  align-items: center;

  min-width: 46px;
  max-width: 54px;
  min-height: 46px;
  max-height: 54px;

  width: calc(5vw + 3vh);
  height: calc(5vw + 3vh);

  overflow: hidden;
  box-sizing: border-box;

  border: #434343 5px solid;
}

.circle
{
  border-radius: 50%;
}

.circle > a,
.box > a,
.circle > .icon,
.box > .icon
{
  width: 60%;
  height: 60%;
}

.circle > img,
.box > img
{
  width: 100%;
  height: 100%;
}