.icon
{
  fill: var(--accent); 
  stroke: none;

  width: 100%;
  height: 100%;
}

.icon.link
{
  cursor: pointer;
}

.icon.link.discord:hover
{
  fill: #7289DA;
}

.icon.link.facebook:hover
{
  fill: #4172B8;
}

.icon.link.gitlab:hover
{
  fill: #E24329;
}

.icon.link.question-mark:hover
{
  fill: #2EB17A; 
}

.icon.link.teespring:hover
{
  fill: #39ACE6;
}

.icon.link.twitch:hover
{
  fill: #6441A4; 
}

.icon.link.twitter:hover
{
  fill: #1DA1F2; 
}

.icon.link.youtube:hover
{
  fill: #FF0000; 
}
