.icon
{
  fill: #434343; 
  stroke: none;
}

.icon.link
{
  cursor: pointer;
}

.icon.discord:hover
{
  fill: #7289DA;
}

.icon.gitlab:hover
{
  fill: #E24329;
}

.icon.patreon:hover
{
  fill: #F96854; 
}

.icon.twitch:hover
{
  fill: #6441A4; 
}

.icon.twitter:hover
{
  fill: #1DA1F2; 
}

.icon.youtube:hover
{
  fill: #FF0000; 
}