.projects.container
{
  max-width: 600px;
  margin: 4vh auto;
}

.project.container
{
  display: grid;

  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "circle card" "circle info";
  grid-column-gap: 24px;

  color: var(--foreground);

  cursor: pointer;

  border-radius: 5px;

  margin: 25px;
  padding: 25px;

  width: auto;
  height: auto;
}

.project.container.inactive
{
  pointer-events: none;
}

.project.container:hover
{
  color: var(--foreground);
  background-color: var(--hover);

  text-decoration: none;
}

.banner
{
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 25px;
  padding: 8px 25px;

  border-radius: 5px;
  border: 1px var(--accent) solid;

  text-transform: uppercase;
}

.banner.discord 
{
  color: #5865F2;
  border-color: #5865F2;

  font-weight: 700;
}

.banner.discord > svg
{
  fill: #5865F2;

  width: 22px;
  height: 22px;
  margin: 0 25px;
}

.banner.discord:hover {
  color: #FFFFFF;
  text-decoration: none;
  background-color: #5865F2;
}

.banner.discord:hover > svg
{
  fill: #FFFFFF;
}

.project.circle
{
  grid-area: circle;
}

.project.notice
{
  color: var(--notice);
  font-weight: 700;
}

.project.card
{
  grid-area: card;
  font-weight: 700;
}

.project.info
{
  grid-area: info;
}

.project.card > p,
.project.info > p
{
  margin: 0;
}