.projects.container
{
  color: var(--foreground);

  max-width: 600px;
  margin: 4vh auto;
}

.screenshot.wrapper
{
  z-index: 1;
  position: fixed;

  display: flex;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.9);

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  pointer-events: none;
  opacity: 0;

  transition: opacity 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}

.screenshot.wrapper.active
{
  pointer-events: all;
  opacity: 1;
}

.screenshot.container
{
  width: fit-content;
  height: fit-content;

  margin: 0 auto;
}

.screenshot.container > img
{
  max-width: 80vw;
  max-height: 65vh;
  width: auto;
  height: auto;

  border-radius: 10px;
}

.project.container
{
  display: grid;

  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "circle card" "circle notice" "circle info";
  grid-column-gap: 24px;
  
  padding: 25px;
  margin: 25px 0;

  width: auto;
  height: auto;
}

.project.circle
{
  grid-area: circle;
}

.project.badges
{
  display: flex;
  flex-wrap: wrap;

  margin: 0 0 15px 0;
  transform: scale(0.75);
  transform-origin: 0 50%;
}

.project.badges > img
{
  margin: 0 8px 0 0;
}

.project.notice
{
  grid-area: notice;

  color: var(--notice);
  font-weight: 700;

  margin: 15px 0;
}

.project.card
{
  grid-area: card;
  font-weight: 700;

  margin: 0 0 5px 0;
}

.project.tags
{
  font-size: calc(8px + 0.05vw + 0.05vh);

  text-transform: uppercase;
}

.project.info
{
  position: relative;
  grid-area: info;
}

.project.info > hr
{
  border: 1px solid var(--links-inactive);
}

.project.screenshots
{
  display: flex;
  flex-wrap: wrap-reverse;

  justify-content: center;
  
  margin: 25px 0 0 0;
}

.project.screenshot
{
  cursor: pointer;
  position: relative;

  overflow: hidden;
  
  width: auto;
  height: 120px;
  
  border-radius: 5px;
  margin: 0 15px 15px 0;
}

.project.screenshot > img,
.project.screenshot > picture > *
{
  width: auto;
  height: 120px;
}

.project.screenshot:hover
{
  box-shadow: var(--links-fore) 0px 0px 5px 1px;
}

.project.screenshot:hover::after
{
  position: absolute;
  
  display: block;
  content: "";
  
  top: 0;
  left: 0;
  
  width: 100%;
  height: 100%;

  opacity: 0.75;
  background-color: var(--links-fore);
}

.project.links
{
  display: flex;
  flex-wrap: wrap;
  
  color: var(--foreground);

  margin: 20px 0 0 0;
}

.project.hyperlink
{
  color: var(--links-fore);
}

.project.link:hover
{
  text-decoration: underline;
  color: var(--links-fore);
}

.project.link
{
  display: flex;

  align-items: center;

  user-select: none;
  text-transform: uppercase;

  width: min-content;

  font-size: calc(calc(5px + 0.4vw + 0.4vh));
  font-weight: 700;

  border-radius: 5px;

  padding: 10px 15px;
  margin: 0 15px 15px 0;

  background-color: var(--links-inactive);
}

.project.link.disabled
{
  opacity: 0.5;
  pointer-events: none;
}

.project.link:hover
{
  text-decoration: none;

  color: var(--links-fore);
  background-color: var(--links-ground);
}

.project.link:hover > .icon
{
  fill: var(--links-fore);
}

.project.link > .icon
{
  min-width: 18px;
  height: 18px;

  margin: 3px 0;
}

.project.link > .icon ~ p
{
  padding: 0 0 0 10px;
}

.project.link.disabled > .icon ~ p
{
  text-decoration: line-through;
}

.project.notice > p,
.project.card > p,
.project.info > p,
.project.link > p
{
  margin: 0;
}