.projects.container
{
  color: var(--foreground);

  max-width: 600px;
  margin: 4vh auto;
}

.project.separator
{
  border: 0px var(--accent) solid;

  margin: 5vh 0 0 0;
}

.project.container
{
  display: grid;

  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "circle card" "circle info";
  grid-column-gap: 24px;

  width: auto;
  height: auto;
}

.project.circle
{
  grid-area: circle;
}

.project.card
{
  grid-area: card;
  font-weight: 700;
}

.project.info
{
  grid-area: info;
}

.project.card > p,
.project.info > p
{
  margin: 0;
}

.project.card > a,
.project.info > a
{
  color: var(--links);
}