.staff.container
{
  display: grid;
  justify-content: center;

  max-width: 700px;
  margin: auto;
}

.staff.title
{
  flex-basis: 100%;

  display: flex;
  /* justify-content: center; */

  color: var(--foreground);
  text-decoration: underline;
  
  font-weight: 700;
  font-size: calc(8px + 0.6vw + 0.6vh);
  
  margin: 2vh 0 2vh 2vw;
}

.staffMember.container
{
  display: grid;

  grid-template-columns: auto 1fr;
  grid-template-areas: "circle info" "circle projects";
  grid-column-gap: 24px;

  margin: 2vh 2vw 2vh 2vw;
}

.staffMember.circle
{
  grid-area: circle;
}

.staffMember.info
{
  grid-area: info;
  font-weight: 700;
}

.staffMember.projects
{
  grid-area: projects;
}

.staffMember.info > p,
.staffMember.projects > p
{
  margin: 0;
}

.staffMember > * > .icon
{
  min-width: 12px;
  max-width: 16px;
  min-height: 12px;
  max-height: 16px;

  width: 3vw;
  height: 3vw;
}