extends ../layout.pug

append head
  title Airtegal by Herp Project

  meta(name='title' content='Airtegal by Herp Project')
  meta(name='description' content='An app about comedy.. I think?..')

  meta(property='og:type' content='website')
  meta(property='og:title' content='Airtegal by Herp Project')
  meta(property='og:description' content='This is funny, right?..')
  meta(property='og:image' content='https://herpproject.com/assets/card-airtegal.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

append content
  script.
    document.addEventListener('keyup', onkeyup)

    function onkeyup(e)
    {
      if (e.code === 'Escape')
        closeScreenshot();
    }

    function openScreenshot(url)
    {
      const wrapper = document.querySelector('.screenshot.wrapper');
      const container = document.querySelector('.screenshot.container');

      container.children[0].src = url;

      if (!wrapper.classList.contains('active'))
        requestAnimationFrame(() => wrapper.classList.add('active'));
    }

    function closeScreenshot()
    {
      const wrapper = document.querySelector('.screenshot.wrapper');
      const container = document.querySelector('.screenshot.container');

      if (wrapper.classList.contains('active'))
        wrapper.classList.remove('active');

      requestAnimationFrame(() => container.children[0].src = '');
    }

  .screenshot.wrapper(onclick='closeScreenshot()')
    .screenshot.container
      img(alt='Screenshot')

  .projects.container
    .project.container
      .project.circle
        +icon('airtegal')
      .project.card
        p Airtegal
        .project.tags #React #Progressive Web App #cssinjs #Express #WebSockets #GraphQL #Jest #Might
      .project.notice
        p The app is in a Public Beta (Available only in Egypt).
        br
        p The app's development is frozen indefinitely however it will be monitored, maintained, and bugs will be fixed regularly.
        br
        p All the servers have limited resources due to financial issues.
      .project.info
        p In development since July, 2019.
        p First released on January 6, 2020.
        br
        p Airtegal is a platform where people can get together and play improvisation and comedy games.
        br
        p the app allows you to play different gamemodes like fill-the-blanks and character-creation, the goal is to make the funniest "thing".
        br
        p All the content in the app is submitted and voted on by the community.
        br
        p Airtegal is best experienced when playing with friends in a gathering or over a voice call.

        .project.links
          a.project.link(href='https://airtegal.me')
            +icon('web')
            p airtegal.me

          a.project.link(href='https://play.google.com/store/apps/details?id=me.hpj.airtegal')
            img(style='width: auto; height: 28px;' alt='Get it on Google Play' src='/assets/playbadge.png')

          a.project.link(href='https://www.facebook.com/PlayAirtegal')
            +icon('facebook')

          a.project.link(href='/airtegal/privacy')
            p Privacy Policy

          a.project.link(href='/airtegal/terms')
            p Terms And Conditions

        hr

        .project.screenshots
          .project.screenshot(onclick='openScreenshot(\'/assets/screenshots/airtegal-1.png\')')
            img(src='/assets/screenshots/airtegal-1.png' alt='Airtegal Picking Phase')

          .project.screenshot(onclick='openScreenshot(\'/assets/screenshots/airtegal-2.png\')')
            img(src='/assets/screenshots/airtegal-2.png' alt='Airtegal Round Winner - Landscape')

          .project.screenshot(onclick='openScreenshot(\'/assets/screenshots/airtegal-3.png\')')
            img(src='/assets/screenshots/airtegal-3.png' alt='Airtegal Round Winner - Portrait')

        hr
        br
        p This project was known as "Kuruit Bedan Fash5" in early 2020, which roughly translates into "Very Lame Cards",
          |  but later the same year it was re-branded to allow for better commercial-ability and expansion past card-based gamemodes.

        br
        p This project was shutdown on the 4th of January 2021 by the HP.J Committee, but that decision was later overturned on the 30th of January.
