extends ../layout.pug

append head
  title Airtegal | Herp Project

  meta(name='title' content='Airtegal | Herp Project')
  meta(name='description' content='A platform for improvisers, comedians, and everyone that likes laughter.')

  meta(property='og:type' content='website')
  meta(property='og:url' content='https://herpproject.com/airtegal')
  meta(property='og:title' content='Airtegal by Herp Project')
  meta(property='og:description' content='A game for horrible people.')
  meta(property='og:image' content='https://herpproject.com/assets/card-airtegal.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

append content
  .projects.container
    .project.container
      .project.circle
        +icon('airtegal')
      .project.card
        p Airtegal
        .project.tags #React #Progressive Web App #FLCSS #Express #WebSockets #GraphQL
      .project.info
        p In development since July, 2019.
        p First released on January 6, 2020.
        br
        p [Currently the app is only available in Arabic and only for the Egyptian region but we plan to support more regions in the future.]
        br
        p Airtegal is a platform for people who like improvisation and comedy, or just want to laugh with their friends.
        br
        p the app allows you to play against people, and fill-the-blanks in sentences or write short stories to create the funniest thing, with different game modes and tons of available content, you have all the freedom you need.
        br
        p the app is best experienced when playing against friends in a gathering or over a voice chat.
        br
        p All the content in the app was submitted and voted on by the community.

        .project.links
          a.project.link(href='https://airtegal.me')
            +icon('web')
            p airtegal.me
          
          //- a.project.link(href='https://play.google.com/store/apps/details?id=com.herpproject.kuruit&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1')
          //-   img(style='width: auto; height: 28px;' alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png')

          a.project.link(href='https://www.facebook.com/PlayAirtegal')
            +icon('facebook')

          a.project.link(href='./privacy')
            p Privacy Policy

          a.project.link(href='./terms')
            p Terms And Conditions

        hr
        br
        p This project was known as "Kuruit Bedan Fash5" in early 2020 but was later re-branded for better commercial-ability and marketing.
