extends ../layout.pug

append head
  title Airtegal by Herp Project

  meta(name='title' content='Airtegal by Herp Project')
  meta(name='description' content='A comedy platform.')

  meta(property='og:type' content='website')
  meta(property='og:url' content='https://herpproject.com/airtegal')
  meta(property='og:title' content='Airtegal by Herp Project')
  meta(property='og:description' content='INSERT __OFFENSIVE__ HERE.')
  meta(property='og:image' content='https://herpproject.com/assets/card-airtegal.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

append content
  .projects.container
    .project.container
      .project.circle
        +icon('airtegal')
      .project.card
        p Airtegal
        .project.tags #React #Progressive Web App #cssinjs #Express #WebSockets #GraphQL #Jest #Might
      .project.notice
        p Public Beta only available in Egypt.
        br
        p We're rewriting parts of our front and back ends, we'll be back in couple of months.
      .project.info
        p In development since July, 2019.
        p First released on January 6, 2020.
        br
        p Airtegal is a platform where people can get together and play improvisation and comedy games.
        br
        p the app allows you to play different gamemodes like fill-the-blanks and character-creation, the goal is to make the funniest "thing".
        br
        p All the content in the app is submitted and voted on by the community.
        br
        p Airtegal is best experienced when playing with friends in a gathering or over a voice chat.

        .project.links
          a.project.link(href='https://airtegal.me')
            +icon('web')
            p airtegal.me

          //- a.project.link(href='https://play.google.com/store/apps/details?id=com.herpproject.kuruit&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1')
          //-   img(style='width: auto; height: 28px;' alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png')

          a.project.link(href='https://www.facebook.com/PlayAirtegal')
            +icon('facebook')

          a.project.link(href='/airtegal/privacy')
            p Privacy Policy

          a.project.link(href='/airtegal/terms')
            p Terms And Conditions

        hr
        br
        p This project was known as "Kuruit Bedan Fash5" in early 2020, which roughly translates into "Very Lame Cards",
          |  but later the same year it was re-branded to allow for better commercial-ability and expansion past card-based gamemodes.
