extends ../../layout.pug

append head
  title Airtegal | Herp Project

  meta(name='title' content='Airtegal | Herp Project')
  meta(name='description' content='A platform for improvisers, comedians, and everyone that likes laughter.')

  meta(property='og:type' content='website')
  meta(property='og:url' content='https://herpproject.com/airtegal')
  meta(property='og:title' content='Airtegal by Herp Project')
  meta(property='og:description' content='A platform for improv comedy.')
  meta(property='og:image' content='https://herpproject.com/assets/card-airtegal.png')

  link(rel='stylesheet' href='../../styles/body.css')
  link(rel='stylesheet' href='../../styles/icons.css')

append content
  .content.container
    h1#termsandconditions Terms and Conditions
    p Welcome to Airtegal.
    p
      a(href='https://herpproject.com') Herp Project
      | ("us", "we", or "our") operates the 
      a(href='https://airtegal.me') https://airtegal.me
      |  website (hereinafter referred to as the "Service").
    p
      | The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this Service and compliant to the Company's terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to Herp Project. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client's needs in respect of provision of the Company's stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.
    p
      | These terms and conditions outline the rules and regulations for the use of this Service.
    p
      | By accessing this Service we assume you accept these terms and conditions. Do not continue to use this Service if you do not agree to take all of the terms and conditions stated on this page.
    h3#cookies Cookies
    p
      | We employ the use of cookies. By accessing this Service, you agreed to use cookies in agreement with this Service's Privacy Policy.
    p
      | Most interactive websites use cookies to retrieve the user's details for each visit. Cookies are used by this Service to enable the functionality of certain areas to make it easier for people visiting this Service. Some of our affiliate/advertising partners may also use cookies.
    h3#legal Legal
    p
      | Do not trust anything published under the "Airtegal" name/brand unless it's published from a Our owned domains.
    p
      | This Service is a platform, all the content that is inside the app is made by the community, the community submit content ideas and vote on them, and the most popular submissions are then added to the app occasionally, there is also different game modes where the players create new content on-the-fly (improv).
    p
      | Nor The Company nor any of its employees can be held responsible for creating any offensive, racist, sexist or inappropriate content.
    p 
      | The Company doesn't filter or edit any content, no matter what that content contain.
    p
      | Freedom of expression is recognized as a human right under article 19 of the Universal Declaration of Human Rights (UDHR) and recognized in international human rights law in the International Covenant on Civil and Political Rights (ICCPR). Article 19 of the UDHR states that "everyone shall have the right to hold opinions without interference" and "everyone shall have the right to freedom of expression; this right shall include freedom to seek, receive and impart information and ideas of all kinds, regardless of frontiers, either orally, in writing or in print, in the form of art, or through any other media of his choice".
    p
      | However, If a card (only the content of the card itself as a single entry) is found to be offending to a person or an organization, and we receives a complaint directly from said person or organization, We will remove the card(s) from our Service.
    p
      | The Company does review content before it's added to the app but only to see if they fit the gameplay rules, and is not similar to any other already added content, and is correctly spelled.
    p
      | The Company does not collect the names of the content creators, this is to protect their privacy, rights and freedom.
    h3#children Children
    p
      | One of our priorities is protecting children while using the internet. We encourage parents and guardians to observe, and not allow their kids to use this Service.
    p
      | This Service is NOT kid-friendly, no children under the age of 16 should be allowed to use it.
    h3#hyperlinkingtoourcontent Hyperlinking to our Content
    p
      | The following organizations may link to our Service without prior written approval
    ul
      li Search engines
      li Online directory distributors may link to this Service in the same manner as they hyperlink to the Websites of other listed businesses
      li System Wide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to this Service
    p
      | These organizations may link to this Service's Homepage, to publications or to other Service information so long as the link:
    ul
      li Is not in any way deceptive.
      li Does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services.
      li Fits within the context of the linking party's site.
    p
      | We may consider and approve other link requests from the following types of organizations:
    ul
      li News organizations
      li Commonly-known consumer and/or business information sources.
      li Dot.com community sites.
      li Associations or other groups representing charities.
      li Online directory distributors.
      li Internet portals.
      li Accounting, law and consulting firms.
      li Educational institutions and trade associations.
    p We'll approve link requests from these organizations if we decide that:
    ul
      li The link would not make us look unfavorably to ourselves or to our accredited businesses.
      li The organization does not have any negative records with us.
      li The benefit to us from the visibility of the hyperlink compensates the absence of The Company.
      li The link is in the context of general resource information.
    p
      | These organizations may link to this Service's Homepage, to publications or to other Service information so long as the link:
    ul
      li Is not in any way deceptive.
      li Does not falsely imply sponsorship, endorsement or approval of the linking party and its products and/or services.
      li Fits within the context of the linking party's site.
    p
      | If you are one of the organizations listed in paragraph 2 above and are interested in linking to this Service, you must inform us by sending an Email to us. Please include your name, your organization name, contact information as well as the URL of your site, a list of any URLs from which you intend to link to this Service, and a list of the URLs on our site to which you would like to link. Wait 2-3 weeks for a response.
    p Approved organizations may hyperlink to this Service as follows:
    ul
      li By use of our corporate name.
      li By use of the uniform resource locator being linked to; or
      li By use of any other description of this Service being linked to that makes sense within the context and format of content on the linking party's site.
    p
      | No use of The Company's logo or other artwork will be allowed for linking absent a trademark license agreement.
    h3#iframes iFrames
    p
      | Without prior approval and written permission, you may not create frames around this Service that alter its visual presentation or appearance.
    h3#contentliability Content Liability
    p
      | We shall not be hold responsible for any content that appears on this Service. You agree to protect and defend us against all claims that is rising on your Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.
    h3#yourprivacy Your Privacy
    p
      | Please read this Service's Privacy Policy accessible from 
      a(href='https://herpproject.com/airtegal/privacy') https://herpproject.com/airtegal/privacy
    h3#reservationofrights Reservation of Rights
    p
      | We reserve the right to request that you remove all links or any particular link to this Service. You approve to immediately remove all links to this Service upon request. We also reserve the right to amen these terms and conditions and it's linking policy at any time. By continuously linking to this Service, you agree to be bound to and follow these linking terms and conditions.
    h3#removaloflinksfromthisservice Removal of links from this Service
    p
      | If you find any link on this Service that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.
    p
      | We do not ensure that the information on this Service is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that this Service remains available or that the material on this Service is kept up to date.
    h3#disclaimer Disclaimer
    p
      | To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to this Service and the use of it. Nothing in this disclaimer will:
    ul
      li limit or exclude our or your liability for death or personal injury.
      li limit or exclude our or your liability for fraud or fraudulent misrepresentation.
      li limit any of our or your liabilities in any way that is not permitted under applicable law; or
      li exclude any of our or your liabilities that may not be excluded under applicable law.
    p
      | The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer:
    ul
      li Are subject to the preceding paragraph; and
      li govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.
    p
      | As long as this Service and the information on it are provided free of charge, we will not be liable for any loss or damage of any nature.
    h3#consent Consent
    p
      | By using this Service, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.
    h3#contactus Contact Us
    p If you have any questions about our Terms and Conditions, please contact us:
    ul
      li
        strong Email: 
        a(href='mailto:contact@herpproject.com') contact@herpproject.com


