extends ../layout.pug

append head
  title The Committee of Herp Project

  meta(name='title' content='The Committee of Herp Project')
  meta(name='description' content='TBA')

  meta(property='og:type' content='website')
  meta(property='og:url' content='https://herpproject.com/abram')
  meta(property='og:title' content='The Committee of Herp Project')
  meta(property='og:description' content='TBA')
  meta(property='og:image' content='https://herpproject.com/assets/card.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')

append content
  .content.container
    //- h3 What Is The Committee?
    //- p It's a type of management body we're experimenting with,
    //- p They get to decide almost every little thing that happens, including marketing campaigns and products' privacy policies,
    //- p It works almost like a parliament,
    //- p And it replaces the regular Board of Directors and Human Resources.

    //- br
    //- h3 Who Are The Committee?
    //- p We decided early on that it should only contain people with the following professions: psychologists, psychiatrists, social workers, social and human rights activists, lawyers.

    //- p Or other people with backgrounds in ethics and literature.

    //- br
    //- h3 How Does It Work?
    //- p Currently, our company is considerably small,
    //- p So the entire committee has to agree on something for it to go through,
    //- p If just one person is against it, it does not.
