extends ../layout.pug

append head
  title About Herp Project

  meta(name='title' content='Herp Project')
  meta(name='description' content='Herp Project. blah us us, blaah!')

  meta(property='og:type' content='website')
  meta(property='og:title' content='Herp Project')
  meta(property='og:description' content='Art, Technology, and Perfection.')
  meta(property='og:image' content='https://herpproject.com/assets/card.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/about.css')

append content
  .about.container
    .about.text
      p
        strong Started in 2015.
      p Herp Project (HPJ for short) is a small team of people obsessed with art, technology, and perfection. We do some games, some apps, and some social experiments

      br
      h6
        strong CULTURE
      
      p We pride ourselves about providing a stress-free environment for everyone working here.
      p No deadlines. No unnecessary meetings. No mandatory working hours. To hell with all that corporate bullshit.
      p We do game nights and go to events together. And our offices are basically internet cafes with free food and game consoles. 
      p And it works! Everyone here bleeds of creativity and amazing ideas! Everyone is happy! properly...

      br
      h6
        strong TRIVIA

      p The name Herp Project refers to 
        strong Herp Derp. 
        | (Roughly translates into 
        strong Stupid Project
        | )
        p We chose that name when we were developing our first project, which was supposed to be a 
          strong parody 
          | of a popular video game series (Later it became 
          strong The Story So Far 
          | - An original game).
        p After around two years of working on it, and choosing mid-way through to develop our own game engine, we discovered that we were 
          strong shooting way over our heads with this one 
          | and moved to work on other things.
