extends ../layout.pug

append head
  title About | Herp Project

  meta(name='description' content='Herp Project (HPJ) is an Egyptian technology company, Our main focus is on Entertainment, Education and Wellbeing...')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/about.css')

append content
  .about.container
    .about.text
      p Founded in 2015.
      p Herp Project (HPJ) is an Egyptian technology company.
      p Our main focus is Entertainment, Education and Wellbeing, Currently, we only specializes in Software and software-related services.

  .about.container
    .about.text
      hr

  .about.container
    .about.text.ar
      p تائسست في 2015.
      p هيرب بروجيكت (هتش بي جي) هي شركة تكنولوجيا مصرية.
      p هدفنا الرئيسي هو ابتكار وسائل جديدة في ترفية والتعليم. في الفترة الحالية نحن نتخصص فقط في تقديم السوفتوير والخدمات المتعلقة بالسوفتوير.
