extends ../layout.pug

append head
  title Kuruit Bedan Fash5 | Herp Project

  meta(name='title' content='Kuruit Bedan Fash5 | Herp Project')
  meta(name='description' content='A platform for improvisers, comedians, and everyone that likes laughter.')

  meta(property='og:type' content='website')
  meta(property='og:url' content='https://herpproject.com/kuruit')
  meta(property='og:title' content='Kuruit Bedan Fash5 by Herp Project')
  meta(property='og:description' content='A game for horrible people.')
  meta(property='og:image' content='https://herpproject.com/card-kuruit.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

append content
  .projects.container
    .project.container
      .project.circle
        +icon('kbf-icon')
      .project.card
        p Kuruit Bedan Fash5
        .project.tags #Kuruit #KBF #React #PWA #FLCSS #WebSockets #GraphQL #Jest
      .project.info
        p First released on January 6, 2020
        br
        p A fill-in-the-blank platform for improvisers, comedians, and everyone that likes laughter.
        br
        p Currently the app is only available in Arabic and only for the Egyptian region but we plan to add more regions in the future.

        .project.links
          a.project.link(href='https://bedan.me')
            +icon('web')
            p bedan.me

          a.project.link(href='https://www.facebook.com/BedanFash5')
            +icon('facebook')

          a.project.link(href='./privacy')
            p Privacy Policy

          a.project.link(href='./terms')
            p Terms And Conditions

