extends ../layout.pug

append head
  title Alley Cats by Herp Project

  meta(name='title' content='Alley Cats by Herp Project')
  meta(name='description' content='Another tabletop roleplaying game.')

  meta(property='og:type' content='website')
  meta(property='og:title' content='Alley Cats by Herp Project')
  meta(property='og:description' content='Welcome to a world that makes no sense.')
  meta(property='og:image' content='https://herpproject.com/assets/card-alleycats.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

mixin screenshots(name)
  div(class=name id='inbox' onclick='openScreenshot(this)')
    img(src='/assets/screenshots/alleycats-1.png' alt='Alley Cats Adai Set')

append content
  script.
     document.addEventListener('keyup', function(e)
    {
      if (e.code === 'Escape')
        closeScreenshot();
    })

    function openScreenshot(e)
    {
      const elem = document.querySelector('.screenshot.wrapper');

      if (!elem.classList.contains('active'))
      {
        location.hash = '#' + e.id;
        elem.classList.add('active');
      }
    }

    function closeScreenshot()
    {
      const elem = document.querySelector('.screenshot.wrapper');

      if (elem.classList.contains('active'))
        elem.classList.remove('active');
    }

  .screenshot.wrapper(onclick='closeScreenshot()')
    .screenshot.container
      +screenshots

  .projects.container
    .project.container
      .project.circle
        +icon('alleycats')
      .project.card
        p Alley Cats
        .project.tags #TTRPG #Entreatment #Series
      .project.info
        p Welcome to a world that makes no sense.
        br
        p Alley Cats is our spin on a tabletop roleplaying games.
        br
        p Each campaign we play will be unique in its own way, set in a different time and place, with its own 
          strong original 
          | story and characters; Set in the same world as The Story So Far.

        .project.links
          a.project.link(href='https://www.youtube.com/playlist?list=PLUCPIFXea-M7AMB8mVDHl8pDX0OO7GsEk')
            +icon('youtube')
            p Watch

        //- hr
        //- .project.screenshots
        //-   +screenshots('project screenshot')

        hr
        br
        p
          | What's great about games like Alley Cats is that with a good GM you can do anything to think of,
          | You have freedom you won't have in regular video games.
