extends ../layout.pug

append head
  title Work with the HPJ

  meta(name='title' content='Herp Project')
  meta(name='description' content='Art, Technology, and Perfection.')

  meta(property='og:type' content='website')
  meta(property='og:title' content='Herp Project')
  meta(property='og:description' content='Art, Technology, and Perfection.')
  meta(property='og:image' content='https://herpproject.com/assets/card.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/work.css')

append content
  .jobs.container
    p
      strong We're not currently recruiting.
