extends ../layout.pug

append head
  title Sulaiman by Herp Project

  meta(name='title' content='Sulaiman by Herp Project')
  meta(name='description' content='A modern keyboard launcher built with web technologies.')

  meta(property='og:type' content='website')
  meta(property='og:title' content='Sulaiman by Herp Project')
  meta(property='og:description' content='A modern keyboard launcher built with web technologies.')
  meta(property='og:image' content='https://herpproject.com/assets/card.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

append content
  .projects.container
    .project.container
      .project.circle
        +icon('sulaiman')
      .project.card
        p Sulaiman
        .project.tags #Electron #Open Source
      .project.info
        p First released on May, 2019.
        p Discontinued on July, 2019.
        br
        p Sulaiman is a modern expendable keyboard launcher built with powerful API for extensions, each extension runs on its separate sandbox, it also comes with a set of useful built-in extensions and a set of basic features and options.

        .project.links
          a.project.link(href='https://github.com/hpj/Sulaiman')
            +icon('github')
            p GitHub
