extends ../layout.pug

append head
  title TSSF by Herp Project

  meta(name='title' content='TSSF by Herp Project')
  meta(name='description' content='TODO')

  meta(property='og:type' content='website')
  meta(property='og:title' content='TSSF by Herp Project')
  meta(property='og:description' content='TODO')
  meta(property='og:image' content='https://herpproject.com/assets/card.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

append content
  .projects.container
    .project.container
      .project.circle
        +icon('question-mark')
      .project.card
        p The Story So Far
        .project.tags #Original #Story
      .project.info
        p Canceled

        .project.links
        //-   a.project.link(href='https://github.com/hpj/guh')
        //-     +icon('github')
        //-     p GitHub

        hr
        br
        p The Story So Far was supposed to be an episodic adventure game based on 4 different original stories in the same world.