extends ../../layout.pug

append head
  title Abram by Herp Project

  meta(name='title' content='Abram by Herp Project')
  meta(name='description' content='TBA')

  meta(property='og:type' content='website')
  meta(property='og:url' content='https://herpproject.com/abram')
  meta(property='og:title' content='Abram by Herp Project')
  meta(property='og:description' content='TBA')
  meta(property='og:image' content='https://herpproject.com/assets/card-abram.png')

  link(rel='stylesheet' href='../../styles/body.css')
  link(rel='stylesheet' href='../../styles/icons.css')

append content
  .content.container
    h1 The Ethics & Principles of Abram
    p Effective Date: 
      strong 
        i This is still being drafted.
    br
    p We at Herp Project target a 
      strong very high standard 
      | for Abram.
    p We want 
      strong everyone 
      | using Abram to feel/be 
      strong safe 
      | while talking to other people.
    p And because of that, we have 
      strong strict principles and rules.

    br
    h2 Matches

    h4
      i The following is to make sure that every user gets a fair chance at a conversion.

    p No one using Abram gets to pick who they talk to and who they dismiss, 
      | Users get matched automatically based on their interests and profile.

    p However, there are some limited matching preferences that each user can set to make sure they would never be matched with specific people.

    p For example, A user might prefer to only get matched with groups of 3 people instead of getting one-on-one matches.


