extends ../layout.pug

append head
  title Herp Project | Staff

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/staff.css')

append content
  .staff.container
    .staff.title Full-Time Staff

    .staffMember.container
      .staffMember.box
        img(src='https://pbs.twimg.com/profile_images/1125483309054726144/NEgUSa4r_400x400.png' alt='Kerolos Zaki')
      .staffMember.info
        +iconLink('twitter', 'https://www.twitter.com/ker0olos')
        p Kerolos Zaki
        p Founder,
        p Leader of The Committee,
        p Programmer, Architect, Writer, Designer.
        p Since July 2015
      .staffMember.projects
        p Dawayer (Developer)
        p Kuruit Bedan Fash5 (Developer)
        p Abram (Developer)
        p Fabric (Developer)
        p Sulaiman (Developer)
        p The Story So Far (Writer)
