extends ../layout.pug

append head
  title Staff | Herp Project

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/staff.css')

append content
  .staff.container
    .staff.title Full-Time Staff

    .staffMember.container
      .staffMember.box
        img(src='https://secure.gravatar.com/avatar/598c0ee957703632c65a68458031149f?s=200' alt='Kerolos Zaki')
      .staffMember.info
        +iconLink('twitter', 'https://www.twitter.com/ker0olos')
        p Kerolos Zaki
        p Founder,
        p Leader of The Committee,
        p Fullstack, Architect, Designer.
        p Since July 2015
      .staffMember.projects
        p Kuruit Bedan Fash5 (Developer)
        p Abram (Developer)
