extends ./layout.pug

append head
  title Herp Project

  meta(name='title' content='Herp Project')
  meta(name='description' content='Herp Project strives to make the best products it can, we only want to make products that can help people and innovate the experience.')

  meta(property='og:type' content='website')
  meta(property='og:url' content='https://herpproject.com')
  meta(property='og:title' content='Herp Project')
  meta(property='og:description' content='Herp Project (HPJ) is an Egyptian technology company.')
  meta(property='og:image' content='https://herpproject.com/assets/card.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/projects.css')

append content
  .projects.container

    a.project.container(href='./airtegal')
      .project.circle
        +icon('airtegal')
      .project.card
        p Airtegal
      .project.info
        p.project.notice The app is down indefinitely.
        br
        p A comedy platform.

    a.project.container(href='./abram')
      .project.circle
        +icon('abram')
      .project.card
        p Abram
      .project.info
        p To be announced.
    
    a.project.container(href='./dawayer')
      .project.circle
        +icon('dawayer')
      .project.card
        p Dawayer
      .project.info
        p Dawayer is discontinued.
        br
        p Dawayer is an audio player built with web technologies it lets you play local files, download and stream podcasts, stream music from a streaming service, Dawayer also has a feed page that gives you personalized playlists, statistics about your listening habits and notifies you when your favorite artist published a new track or a new podcast episode.

    a.project.container(href='./sulaiman')
      .project.circle
        +icon('sulaiman')
      .project.card
        p Sulaiman
      .project.info
        p Sulaiman is discontinued.
        br
        p Sulaiman is an expendable keyboard launcher built with powerful API for extensions, each extension runs on its separate sandbox, Sulaiman also comes with a set of useful built-in extension and a set of basic features and options to help you use it comfortably.

    .project.container.inactive
      .project.circle
        +icon('question-mark')
      .project.card
        p Fabric
      .project.info
        p Due to the shift in the company's core focus, this project is not prioritized and is not in development.
        br
        p Fabric is a high-performance vector graphics drawing library, built to push the limits of today's 2-d video games and 2-d animations by rendering them in real-time vector graphics.

    //- .project.container.inactive
    //-   .project.circle
    //-     +icon('question-mark')
    //-   .project.card
    //-     p Skye
      //- .project.info
        //- p To be announced

    //- .project.container.inactive
    //-   .project.circle
    //-     +icon('question-mark')
    //-   .project.card
    //-     p Safehaven
      //- .project.info
      //-   p To be announced
