extends ../layout.pug

append head
  title Dawayer by Herp Project

  meta(name='title' content='Souls by Herp Project')
  meta(name='description' content='To be announced.')

  meta(property='og:type' content='website')
  meta(property='og:title' content='Souls by Herp Project')
  meta(property='og:description' content='To be announced.')
  meta(property='og:image' content='https://herpproject.com/assets/card.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

append content
  .projects.container
    .project.container
      .project.circle
        +icon('question-mark')
      .project.card
        p Souls
        .project.tags #Python #Open Source
      .project.info
        p In development since October, 2020.
        br
        p To be announced.

        //- .project.links
        //-   a.project.link(href='https://github.com/hpj/souls')
        //-     +icon('github')
        //-     p GitHub
