extends ../layout.pug

append head
  title Souls by Herp Project

  meta(name='title' content='Souls by Herp Project')
  meta(name='description' content='To be announced.')

  meta(property='og:type' content='website')
  meta(property='og:title' content='Souls by Herp Project')
  meta(property='og:description' content='To be announced.')
  meta(property='og:image' content='https://herpproject.com/assets/card.png')

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/project.css')

append content
  .projects.container
    .project.container
      .project.circle
        +icon('question-mark')
      .project.card
        p Souls
        .project.tags #Open Source
      .project.info
        p In development since February, 2020.
        br
        p To be announced.

        br
        hr
        br
        p
          | Souls was initially supposed to be kept a secret,
          | with the source code only existing on an air-gapped computer,
          | but later the committee decided that we should put ourselves in a position of control,

          | by announcing Souls, trademarking the patterns of how it works, and open-sourcing it under GNU AGPLv3.

        //- .project.links
        //-   a.project.link(href='https://github.com/hpj/souls')
        //-     +icon('github')
        //-     p GitHub
