extends ../layout.pug

append head
  title Herp Project | Projects

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/projects.css')

append content
  .projects.container
    .project.container
      .project.circle
        +iconLink('gitlab', 'https://gitlab.com/hpj/Dawayer')
      .project.card
        p Dawayer
      .project.info
        p First released on March 2019.
        br
        p Currently work is in progress for a big update that includes Podcasts, Dark Mode and MPRIS Player.
    hr.project.separator
    .project.container
      .project.circle
        +iconLink('gitlab', 'https://gitlab.com/hpj/Sulaiman')
      .project.card
        p Sulaiman
      .project.info
        p First released on May 2019.
        br
        p Currently Sulaiman future is uncertain, and its development is on hold indefinitely.
    hr.project.separator
    .project.container
      .project.circle
        +icon('webtoon')
      .project.card
        p The Story So Far
      .project.info
        p Season 1 Episode 1 is Coming Soon(ish)
        br
        p Episode 1 is in the process of drawing.
    hr.project.separator
    .project.container
      .project.circle
        +icon('gitlab')
      .project.card
        p Fabric
      .project.info
        p Alpha Build will be released somewhere in 2020...
        p Probably...
        br
        p Currently the development is on hold because of limited staff and/or insufficient funds.
