extends ../layout.pug

append head
  title Herp Project | Projects

  link(rel='stylesheet' href='../styles/body.css')
  link(rel='stylesheet' href='../styles/icons.css')
  link(rel='stylesheet' href='../styles/projects.css')

append content
  .projects.container

    .project.container
      .project.circle
        +icon('gitlab')
      .project.card
        a(href='https://gitlab.com/hpj/Dawayer') Dawayer
      .project.info
        p First released on March 2019.
        br
        p Dawayer is an audio player built with web technologies it lets you play local files, download and stream podcasts, stream music from a streaming service, Dawayer also has a feed page that gives you personalized playlists, statistics about your listening habits and notifies you when your favorite artist published a new track or a new podcast episode.
        br
        p Currently work is in progress for a big update that includes Podcasts, Dark Mode and MPRIS Player.

    hr.project.separator
    .project.container
      .project.circle
        +icon('webtoon')
      .project.card
        p The Story So Far
      .project.info
        p Episode 1 is in the process of drawing.
        br
        p A different world with many stories to tell.

    hr.project.separator
    .project.container
      .project.circle
        +iconLink('gitlab', 'https://gitlab.com/hpj/kuruit-bedan-fash5')
      .project.card
        p Kuruit Bedan Fash5
      .project.info
        p Coming Sooner than later.
        br
        p Kuruit Bedan Fash5 is an Egyptian(Masri) version of Cards Against Humanity, based on Egyptian Arabic and Egyptian Culture, it's a web app that follows the same rules of Cards Against Humanity but as a free (open-source) online game.
        br
        p Currently work is in progress.

    hr.project.separator
    .project.container
      .project.circle
        +icon('question-mark')
      .project.card
        a(href='https://ker0olos.gitlab.io/blogs/Fabric/') Fabric
      .project.info
        p Alpha Build will be released somewhere in 2020...
        p Probably...
        br
        p Fabric is a high-performance vector graphics drawing library, built to push the limits of today's 2-d video games and 2-d animations by rendering them in real-time vector graphics.
        br
        p Currently the development is on hold because of limited staff.

    hr.project.separator
    .project.container
      .project.circle
        +icon('gitlab')
      .project.card
        a(href='https://gitlab.com/hpj/Sulaiman') Sulaiman
      .project.info
        p First released on May 2019.
        br
        p Sulaiman is an expendable keyboard launcher built with powerful API for extensions, each extension runs on its separate sandbox, Sulaiman also comes with a set of useful built-in extension and a set of basic features and options to help you use it comfortably.
        br
        p Currently Sulaiman future is uncertain, and its development is on hold indefinitely.

    hr.project.separator
    .project.container
      .project.circle
        +icon('question-mark')
      .project.card
        p Abram (Abraham)
      .project.info
        p Unannounced Project

    hr.project.separator
    .project.container
      .project.circle
        +icon('question-mark')
      .project.card
        p Al Saaha
      .project.info
        p Unannounced Subsidiary
